*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    margin: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.green_btn{
    padding: 18px 45px;
    background-color: #20ad96;
    color: white;
    border: 0px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 14px;
    margin: 30px 0;
}